/*** Global style ***/
.container {
    max-width: 1440px;
    min-width: 414px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin: auto;
    color: #737373;
}

/* Fix contrast */

a:focus{
    outline: 3px solid black;
  }
   
button:focus {
    outline: 5px solid white;
  }

textarea:focus, input:focus {
    outline: 3px solid blue;
}

/* style skip links */
.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .skip-links a{
    position: absolute;
    top: -5em;
    background-color: #AD0000; 
    color:white;
    padding: 1em 1em;
    font-weight: bold;
    font-size: 16px;
  }
  
  .skip-links a:focus{
    top: 0;
  }


/* align text and image to center */
p, h1, h2, h3 {
    text-align: center;
}

.apps-login, .apps-menu, .apps-payment {
    display: block;
    margin-top: -5rem;
    margin-bottom: -3rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
  }

.header-logo {
    max-width: 100%; 
    padding: 20px;
    height: 5rem;
}

/* butter on hover */
.style1:hover,
.style2:hover,
.style3:hover,
.style4:hover {
    cursor: pointer;
    background-color: rgb(0, 98, 0);
    transform: scale(1.1) ;
}

/*** style navigation bar ***/
/* hide the menu content and display only the menu icon */
nav ul {
    position: fixed;
    top: 120px;
    left: -100%;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    background:white;
    transition: all 0.2s;
  }

nav ul li {
    margin: 40px 0;
  }

nav ul li a {
    font-size: 16px;
    display: block;
    text-decoration: none;
    font-weight: 500;
    color:#252B42;
  }

nav ul li a:hover, 
nav ul li a.active {
color: #AD0000; 
}

/* scroll the menu out and make it visible*/
#clickbox:checked ~ ul {
    left: 0%;
}

/* change menubtn style to 'X' */
#clickbox:checked ~ .menubtn i:before {
    content: "\f00d";
}

/* menubtn position and style*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

nav .menubtn i {
    color:#737373;
    font-size: 28px;
    cursor: pointer;
  }

#clickbox {
    display:none;
  }

/* add hidden text for screen reader */
.screenreader {
    position: absolute;
    display: none;
}
 

/*** style font ***/
.size1 {
    font-size:16px;
    line-height: 24px;
    padding:20px;
}

.size2 {
    font-size: 24px;
    padding: 20px;
    line-height: 38px;
}

.size3 {
    font-size: 36px;
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    padding-bottom: 120px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 42.5px;
    color: #252B42;
}


h2 {
    color: #AD0000; 
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

h3 {
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    color: #252B42;

}

/*** style banner button ***/
.style1 {
    background-color: #AD0000; 
    color: white;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    font-family: "Montserrat";
    font-size: 16px;
    padding:15px 20px;
    width:170px;
}

.style2 {
    background-color: transparent;
    color: #AD0000; 
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid #AD0000; 
    font-family: "Montserrat";
    font-size: 16px;
    padding:15px 20px;
    width:170px;
}

.style2:hover {
    color: white;
    border: 1px solid white;
}

.button-mobile {
    display:flex;
    flex-direction: column;
    gap: 10px 0px;
    align-items: center;
}

/* position group image and overlap */
.image-container {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-top: 1rem;
    /* margin-left: -3rem; */
    max-width: 100%;
  } 

/* custom horizontal rule */
.custom-hr {
    border: 1px solid rgba(228, 228, 228, 1);
    margin-bottom: 40px;
}

/*** style download-apps section ***/
.download-apps {
    background-color: rgba(37, 43, 66, 1);
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.whitefont {
    font-size: 40px;
    color: white;
    margin: 60px 40px 0px 40px;
}

.greyfont {
    color:rgba(189, 189, 189, 1);
    font-size: 24px;
    line-height: 38px;
    margin: 40px 50px 40px 50px;
}

/* style button in download-apps section */
.style3 {
    background-color: #AD0000; 
    color: white;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    font-family: "Montserrat";
    font-size: 16px;
    padding: 20px 10px;
    width:140px;
}

.style4 {
    background-color: transparent;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid white;
    font-family: "Montserrat";
    font-size: 16px;
    padding:20px 20px;
    width:180px;
}

.button-align {
    display: flex;
    justify-content: center;
    gap:20px;
}

/*** style footer ***/
footer {
    height: 120px;
} 

.footer-logo {
    display: none;
}

.media-icon {
    color:#AD0000; 
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: center;
    gap:30px;
    margin: 80px 0 20px 0;
}

.footertext {
    font-weight: bold;
}

/* style back to top logo to enhance the user experience of site */
.fa-arrow-up {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    color: white;
    font-size: 20px;

    background-color:#AD0000; 
    padding: 10px;
    border-radius: 10px; 
    cursor: pointer;
}

.fa-arrow-up:hover {
    transform: scale(1.2);
}

/**********************************************************************/
/*** Font in Table style ***/
/**********************************************************************/
@media screen and (min-width: 720px) and (max-width: 819px) {
    
    h2 {
        font-size: 24px;
    }
    
    h3 {
        font-size: 30px;
    }

    .size2 {
        font-size: 20px;
    }

}

/**********************************************************************/
/*** Table & Desktop style - 720px above ***/
/**********************************************************************/
@media screen and (min-width: 720px) {

/* style the navigation menu */
nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px; 
}

/* override value in mobile version */
nav ul {
    position: static; 
    width: auto;
    height: auto;
    display: flex;
    list-style:none;
    align-items: center;
}
  
nav ul li a {
    color:#252B42;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500; 
    padding: 0px 20px;
}
  
nav ul li a:hover, 
nav ul li a.active {
    color: #AD0000; 
}

/* hide menu icon in table & desktop */
nav .menubtn i {
    display:none;
}
  
#clickbox {
    display:none;
}

/*** style banner-section ***/
/* add banner */
.banner-container {
    background: url(../images/2_header-banner.png);
    background-size: cover;
    position: relative;
    width:100%;
    height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

/* change font color */
.banner-container h1 {
    color: white;
    letter-spacing:0.5px;
    padding-left:20%;
    padding-right: 20%;
}

.style2 {
    color: white;
    border: 1px solid white;
}

/* rise banner text */
.bannertext{
    position: absolute;
    top:4rem;
}

.bannertext>.size2{
padding-left:20%;
padding-right: 20%;
text-align: center;
}

/* change button position */
.button-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
}

/*** rise image-container to overlap the banner ***/
.image-container {
    margin-top:-6rem;
    position: relative;
    z-index:99;
}

.custom-hr {
    width:50%
}

/*** style main-content ***/
/* style the 1st & 3rd part of main content */
.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'image text'
}

.main-text{
    grid-area: text;
    margin-left:-5rem;
}

.main-image {
    grid-area: image;
}

.size2 {
    padding-left: 0px;
    max-width: 600px;
    text-align: left;
}

h2, h3 {
    text-align: left;
    padding-left: 0px;
    max-width: 600px;
}

/* style the 2nd part of main content */
.main-content-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'text image'
}

.main-text-1{
    grid-area: text;
    margin-right:-5rem;
    padding-left: 20px;
}

.main-image-1 {
    grid-area: image;
}




/*** style download-apps section ***/
/* add section background */
.download-apps {
    background: url(../images/7_footer-banner.png);
    background-size: cover;
    position: relative;
    width:100%;
    height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

/* adjust position and color */
.whitefont {
    margin: 0px 40px 0px 40px;
}    

.greyfont {
    color:white;
    margin: 20px 50px 50px 50px;
}

/*** style footer ***/
/* show logo */
.footer-logo {
    display: block;
    padding: 0px 20px 0px 20px;
    height: 4rem;

}

.footer {
    height:180px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.icons {
    margin: 0;
}
}



